@model E_Commerce.Models.ProductType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductType</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_type_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_type_name)
        </dd>

    </dl>
</div>
<p class="col-md-offset-2 col-md-10">
    @Html.ActionLink("Edit", "Edit", new { id = Model.producttypeId }) 
</p>
@Html.ActionLink("Back", "Index")